@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* img{
    height: 130px;
    width: auto;
} */
.teamcontainerteam p {
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    margin-top: 8px;
    font-size: 15px;
    margin-left: 10px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}

.teamcontainerteam img {
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.teamcontainerteam .cardicon {
    margin-top: 20px;
    height: 200px;
    width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 15px;
}

.teamcontainerteam .cardicon h6 {
    margin-top: 5px;
    margin-left: 2px;
    margin-left: 10px;
    font-size: 12px;
}

.teamcontainerteam .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

.teamcontainerteam .cardicon {
    flex: 0 0 calc(30% - 10px);
}

@media (max-width: 768px) {
    .teamcontainerteam .cards {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 0;
        /* justify-content: center; */
        bottom: 0;
    }

    .teamcontainerteam img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .teamcontainerteam .cardicon {
        margin-top: 20px;
        width: calc(50% - 10px);
        /* Adjust the width as needed */
        margin: 0 10px;
        /* Add some margin between the cards */
        line-height: 15px;
        width: 100%;
    }
}

@media (max-width: 424px) {
    .teamcontainerteam .cards {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        /* justify-content: center; */
        bottom: 0;
    }

    .teamcontainerteam img {
        object-fit: cover;
        border-radius: 10px;
    }
    .teamcontainerteam .cardicon p {
        margin-top: 5px;
        margin-left: 20px;
    }
    .teamcontainerteam .cardicon h6 {
        margin-top: 5px;
        margin-left: 20px;
    }
    .teamcontainerteam .cardicon {
        margin-top: 10px;
        width: calc(50% - 10px);
        /* Adjust the width as needed */
        margin: 0 10px;
        /* Add some margin between the cards */
        line-height: 15px;
        width: 320px;
    }
}