@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');
.announcement{
    background-color: black;
    color: rgba(255, 255, 255, 0.861);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;
    font-size: .9rem;
    font-family: 'Handjet', cursive;
    text-transform: uppercase;
    cursor: none;
    letter-spacing: 1px;
    /* font-family: 'Roboto', sans-serif; */
}
.announcement-text{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.text1 span{
    margin-right: 2rem;
}
.text2 span:not(:last-child){
    margin-right: 2rem;
}
.text2 span:last-child{
    margin-right: 2rem;
}